/*

	Style of GUI for beginner composers

	Copyright © of Di Lorenzo Giuliano, Mugnaini Nicola, Ouali Ernest

	1. Main buttons
	2. Letters
	3. Octaves
	4. Durations
	5. ALterations
	6. Waveforms
	7. Add and clean note
	8. Load and save melody
	9. Audio effects
	10. BPM and tune
	11. Lock and unlock
	12. Grid parameters
	13. Canvas

*/

body {
	background-color: #f0f0f0d1;
	margin: 0;
	padding: 0;
}

#fileSelector, label[for="fileSelected"], #fileSelected {
  display: none;
}

/*
	MAIN BUTTONS
*/

.main_button_div {
	transform: translate(0%, -90%);
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	margin-bottom: 20px;
	width: 30%;
	background-color: aliceblue;
}

.button {
	display: inline-block;
	height: 50px;
	width: 100px;
	background-color: black;
	color: white;
	position: relative;
	cursor: pointer;
	border: 2px solid;
	border-radius: 5%;
	margin-left: 2px;
	margin-right: 2px;
	&:active,
	&.active{
    	box-shadow: inset 0 1px 0px rgba(255,255,255, 1),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px 0px 0px rgba(255,255,255, 1),0 4px 3px rgba(0,0,0,0.7),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px -1px 15px rgba(0,0,0, 1), -3px 4px 6px rgba(0,0,0, 0.5);
	}
}

.animated {
	padding: 10px 10px;
	transition: transform 0.3s, filter 0.3s;
}

#play{
	background-color: orange;
	border-color: darkorange;
	vertical-align: middle;
}

#play_loop{ 
	border-color: darkgreen;
	background-color: green;
	vertical-align: middle;
}

#pause {
	background-color: blue;
	border-color: darkblue;
	vertical-align: middle;
}

#resume {
	background-color: green;
	border-color: darkgreen;
	vertical-align: middle;
}

#quit {
	background-color: red;
	border-color: darkred;
	vertical-align: middle;
}

/*
#clean {
	background-color: red;
	border-color: darkred;
	vertical-align: middle;
}
*/	

/*
	LETTERS
*/
#title_letter {
	transform: translate(15%, 150%);
	font-size: 15px;
	font-weight: bolder;
	font-style: italic;
	margin-top: -5%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: forestgreen;
	
    
}

.letter_button_div {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	width: 30%;
	height: 8%;
	background-color: grey;
	
}
.led-container {
	transform: translate(0%, 140%);
	border: 0px solid;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 1%;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 50%;
}

.led {
	width: 15px;
	height: 15px;
	background-color: darkred;
	border-radius: 50%;
	margin-left: 25px;
	margin-right: 32px;
	display: inline-block;
	transform: translate(-80%, 0%);
}

.letter {
	width: 40px;
	height: 40px;
	border-radius: 15%;
	margin-left: 1px;
	margin-top: 25px;
	border-radius: 15%;
	background-color: lightgray;
	color: black;
	transform: translate(0%, 0%);
	&:active,
	&.active{
    	box-shadow: inset 0 1px 0px rgba(255,255,255, 1),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px 0px 0px rgba(255,255,255, 1),0 4px 3px rgba(0,0,0,0.7),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px -1px 15px rgba(0,0,0, 1), -3px 4px 6px rgba(0,0,0, 0.5);
	}
}

/*
	OCTAVES
*/

#title_octaves {
	transform: translate(14%, 150%);
	font-size: 15px;
	font-weight: bolder;
	font-style: italic;
	margin-top: -1%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: forestgreen;
}

.octave_button_div {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	width: 30%;
	height: 8%;
	background-color: cornflowerblue;
}
.led-container1 {
	transform: translate(-10%, 140%);
	border: 0px solid;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 1%;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 50%;
}

.ledoct {
	width: 15px;
	height: 15px;
	background-color: darkred;
	border-radius: 50%;
	margin-left: 20px;
	margin-right: 50px;
	display: inline-block;
	transform: translate(600%, 0%);
}


.octave {
	width: 40px;
	height: 40px;
	border-radius: 15%;
	margin-left: 1px;
	margin-top: 25px;
	background-color: lightblue;
	color: darkblue;
	&:active,
	&.active{
    	box-shadow: inset 0 1px 0px rgba(255,255,255, 1),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px 0px 0px rgba(255,255,255, 1),0 4px 3px rgba(0,0,0,0.7),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px -1px 15px rgba(0,0,0, 1), -3px 4px 6px rgba(0,0,0, 0.5);
	}
}

/*
	DURATIONS
*/
#title_durations {
	transform: translate(13%, 150%);
	font-size: 15px;
	font-weight: bolder;
	font-style: italic;
	margin-top: -1%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: forestgreen;
}

.duration_button_div {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	height: 8%;
	width: 30%;
	background-color: sandybrown;
}
.led-container2 {
	transform: translate(-8%, 150%);
	border: 0px solid;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 1%;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 50%;
}

.lednote {
	width: 15px;
	height: 15px;
	background-color: darkred;
	border-radius: 50%;
	margin-left: 90px;
	margin-right: 23px;
	display: inline-block;
	transform: translate(20%, 0%);
}

.whole, .half, .quarter, .eight, .sixt {
	width: 40px;
	height: 40px;
	border-radius: 15%;
	background-color: gold; 
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 25px;
	color: black;
	text-align: center;
    font-size: 25px;
    
}

/*
	ALTERATIONS
*/
#title_alteration{
	transform: translate(13%, 150%);
	font-size: 15px;
	font-weight: bolder;
	font-style: italic;
	margin-top: -1%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: forestgreen;
}
.alterations_button_div {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	width: 30%;
	height: 8%;
	background-color: peru;
	
}
.led-container4 {
	transform: translate(15%, 150%);
	border: 0px solid;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 1%;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 75%;
}

.ledkey {
	width: 15px;
	height: 15px;
	background-color: darkred;
	border-radius: 50%;
	margin-left: 45px;
	margin-right: 180px;
	display: inline-block;
	transform: translate(-1500%, 0%);
}

.key_alt {
	width: 40px;
	height: 40px;
	border-radius: 15%;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
	background-color: brown; 
	color: white;
	text-align: center;
    font-size: 25px;
}

/*
	WAVEFORMS
*/

#title_wave {
	transform: translate(13%, 150%);
	font-size: 15px;
	font-weight: bolder;
	font-style: italic;
	margin-top: -1%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: forestgreen;
}
.wave_button_div {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	width: 30%;
	height: 8%;
	background-color: orchid;
}
.led-container3 {
	transform: translate(0%, 150%);
	border: 0px solid;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 45%;
	
}

.ledwave {
	width: 15px;
	height: 15px;
	background-color: darkred;
	border-radius: 50%;
	margin-left: -25px;
	margin-right: 158px;
	display: inline-block;
	transform: translate(0%, 0%);
	
	
}

.wave_type {
	width: 40px;
	height: 40px;
	border-radius: 15%;
	margin-left: 40px;
	margin-right: 40px;
	background-color: purple;
	margin-top: 25px;
	color: white;
	border-color: black;
    font-size: 20px;
	&:active,
	&.active{
    	box-shadow: inset 0 1px 0px rgba(255,255,255, 1),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px 0px 0px rgba(255,255,255, 1),0 4px 3px rgba(0,0,0,0.7),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px -1px 15px rgba(0,0,0, 1), -3px 4px 6px rgba(0,0,0, 0.5);
	}
}

/*
	ADD AND CLEAN NOTE
*/


.add_clean_button_div {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	width: 30%;
	

}
.note {
	margin-left: 20px;
	margin-top: 5px;
	margin-right: 20px;
	border-radius: 10%;
	
	&:active,
	&.active{
    	box-shadow: inset 0 1px 0px rgba(255,255,255, 1),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px 0px 0px rgba(255,255,255, 1),0 4px 3px rgba(0,0,0,0.7),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),i
					inset -1px -1px 15px rgba(0,0,0, 1), -3px 4px 6px rgba(0,0,0, 0.5);
	}
}

/*
	LOAD AND SAVE MELODY
*/

.melody {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	border-radius: 10%;
	
	&:active,
	&.active{
    	box-shadow: inset 0 1px 0px rgba(255,255,255, 1),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px 0px 0px rgba(255,255,255, 1),0 4px 3px rgba(0,0,0,0.7),
					inset 0 -1px 0px rgba(255,255,255, 1),
					inset 1px 0px 0px rgba(255,255,255, 1),
					inset -1px -1px 15px rgba(0,0,0, 1), -3px 4px 6px rgba(0,0,0, 0.5);
	}
}

/*
	AUDIO EFFECTS
*/

.checkbox-container {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	width: 30%;
	
}

.checkbox-label {
	font-size: 18px;
	font-style: oblique;
	color: red;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 5px;
  }

.checkbox-group input {
	margin-right: 10px;
	
}

#reverb_checkbox {
	margin-right: 50px;
	margin-top: 8px;
	
	
}

#delay_checkbox {
	margin-right: 70px;
	margin-top: 8px;
}

/*
	BPM AND TUNE
*/

.label_div {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	width: 30%;
	
}

#label_bpm {
	font-weight: bolder;
	margin-left: 2px;
	margin-top: 1px;
	height: 10px;
	width: 80px;
}

#bpm_html {
	width: 50px;
	height: 30px;
	margin-top: 7px;
	margin-left: -20px;
	text-align: center;
	border: 1px solid;
}

#label_tune {
	transform: translate(0%, 0%);
	font-weight: bolder;
	height: 10px;
	width: 170px;
	margin-left: 10px;
	margin-top: 10px;
}

#tune {
	width: 50px;
	height: 30px;
	margin-top: 5px;
	text-align: center;
	border: 1px solid;
	margin-right: 40px;
	margin-left: -1px;
}

/*
	LOCK AND UNLOCK
*/

#lock_button {
	width: 40px;
	height: 40px;
	border: 2px solid;
	background: red;
	border-radius: 10%;
	color: orange;
	margin-top: -5px;
	margin-left: 20px;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); 
	z-index: 999; 
}

#lockedContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.unlock {
	height: 40px;
	width: 70px;
	background-color: orange;
	margin-left: 35%;
	font-size: 20px;
	text-align: center;
}

/*
	GRID PARAMETERS
*/

.label_div_grid {
	border: 0px solid;
	display: flex;
	justify-content: space-between;
	margin-left: 1%;
	width: 30%;
	
}
.octaves_grid_button, .starting_button, .bars_button {
	margin-left: -1px;
	margin-right: 5px;
	text-align: center;
	font-weight: bolder;
}

.octaves, .starting, .bars_number {
	width: 40px;
	text-align: center;
	border: 1px solid;
}

/*
	CANVAS
*/

canvas {
    border: 2px solid #000;
	position: absolute;
	left: 35%; 
	top: 1%;
}